<% provide(:controller, :static_pages) %>
<% provide(:action, :home) %>
<% provide(:feed, "post") %>

<div class="nltop jumbotron jumbotron-fluid">
  <div class="nltop-inner">
    <h1 class="nltop-tit display-4 text-center">Progress</h1>
    <p class="nltop-txt lead text-center">
      みんなと目標を共有して、刺激をもらおう！<br>
      継続できないを克服する目標達成アプリです
    </p>
  </div>
  <div class="nltop-wrap col-6">
    <%= link_to "新規登録", new_user_path, class: 'btn btn-success nltop-btn _btn-green' %>
    <div class="nltop-guest">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <%= f.hidden_field :email, value: 'brian@example.com' %>
        <%= f.hidden_field :password, value: '012345' %>
        
        <%= f.submit "ゲストログイン", class: "btn btn-danger nltop-btn _btn-red _ml-btn" %>
      <% end %>
    </div>
  </div>
  <div class="form col-6">
    <div class="form-header">
      ログイン
    </div>
    <div class="form-main">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>ログインしたままにする</span>
        <% end %>
        
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
    </div> 
  </div>
</div>

<div class="sec row">
  <aside class="snav col-md-4 list-group list-group-flush">
    <div class="snav-wrap">
      <span class="list-group-item">メニュー</span>
      <%= link_to "日報", reports_path, class: "snav-link list-group-item list-group-item-action" %>
      <%= link_to "つぶやき", root_path, class: "snav-link list-group-item list-group-item-action" %>    
    </div>
  </aside>
  <div class="content col-md-8">
    <% if logged_in? %>
    <div class="content-inner">
      <div class="ch">
          <%= render 'shared/user_info' %>
      </div>
      <div class="cf">
          <%= render 'shared/post_form' %>
      </div>
    </div>
    <% end %>
    <p class="content-tit">つぶやき</p>
    <%= render 'shared/feed' %>
  </div>
</div>
</div>