<%= form_with(model: @article, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @article %>
  
  <%= f.label :name, "タグ" %>
  <%= f.text_field :name, class: 'form-control mb-3' %>
  
  <p class="text-gray">
    スペース（半角）を入力することで複数のタグを付けることができます。<br>
    例：音楽 文芸 スポーツ
  </p>
  
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: 'form-control mb-3' %>

  <%= f.label :content, "記事内容" %>
  <%= f.text_area :content, class: 'form-control mb-3 min-h470' %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary white--text" %>

<% end %>