<%= form_with(model: @article, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @article %>
  
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
  
  <p>スペースを入力することで複数のタグを付けることができます。</p>
  <p>例：音楽 文芸 スポーツ</p>

  <%= f.label :name, "タグ" %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>