<% provide(:title, "記事") %>
<% provide(:button_text, "投稿") %>

<div class="article row">
  <div class="col-12 col-md-9">
    <div class="card mb-5 min-h600">
      <div class="card-header">
        <p class="card-title"><%= @article.title %></p>
        <div class="card-inner d-flex">
          <div class="card-avatar">
            <%= link_to @article.user do %>
              <%= image_tag @article.user.avatar.variant(gravity: :center, resize: "30x30^", crop: "30x30+0+0").processed, class: '_rounded' %>
            <% end %> 
          </div>
          <div class="card-user">
            <%= link_to @article.user do %>
              <%= @article.user.name %>
            <% end %>
          </div>
          <div class="card-config">
            <% if current_user?(@article.user) %>
              <%= link_to "編集", edit_article_path, class: "btn btn-outline-primary" %>
              <%= link_to "削除", article_path, class: "btn btn-outline-danger",
                                                method: :delete,
                                                data: { confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
          <div class="card-bookmark">
            <% if logged_in? %>
              <% if @article.bookmarked_by?(current_user) %>
                <% bookmark = @article.bookmarks.find_by(user_id: current_user.id) %>
                <%= link_to article_bookmark_path(@article, bookmark), class: 'btn', method: :delete do %>
                  <i class="fas fa-bookmark book-off"></i><span>ブックマーク解除</span>
                <% end %>
              <% else %>
                <%= link_to  article_bookmarks_path(@article), class: 'btn', method: :post do %>
                <i class="far fa-bookmark book-on"></i><span>ブックマーク追加</span>
                <% end %>
              <% end %>
            <% end %>  
          </div>
          <div class="card-date">
            <i class="far fa-clock"></i>
            <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-content"><%= simple_format(@article.content) %></div>
      </div>
    </div>
    
    <div id="comment" class="comment">
      <% if @comments.present? %>
        <div class="card mb-5">
          <div class="card-header">
            <h4 class="comment-header"><i class="far fa-comment"></i> コメント</h4>
          </div>
          <div class="card-body">
            <ul class="comment-list">
              <% @comments.each do |comment| %>
                <li class="comment-item">
                  <div class=" comment-avatar">
                    <%= link_to comment.user do %>
                      <%= image_tag comment.user.avatar.variant(gravity: :center, resize: "45x45^", crop: "45x45+0+0").processed, class: '_rounded' %>
                    <% end %> 
                    <span class="comment-user"><%= comment.user.name %></span>
                    <% if logged_in? %>
                      <% if comment.user_id == current_user.id %>
                          <%= link_to "削除", article_article_comment_path(@article, comment), method: :delete, class: "btn btn-outline-danger" %>
                      <% end %>
                    <% end %> 
                  </div>
                  <p class="comment-content"><%= comment.content %></p>
                  <p class="comment-date"><%= time_ago_in_words(comment.created_at) %>前</p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      
      <div class="card comment-form">
        <div class="card-body">
          <%= render 'article_comments/comment_form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="tag">
      <div class="tag-header">
        <i class="fas fa-tags"></i> タグ
      </div>
      <ul class="tag-list d-flex flex-wrap">
        <% @tags.each do |tag| %>
          <li class="tag-item">
            <%= link_to tag_articles_path(tag), class: "tag-link badge badge-pill badge-info" do %>
              <%= tag.name %> <span class="badge badge-light"><%= tag.articles.count %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
