<% provide(:title, "記事") %>
<% provide(:button_text, "投稿") %>

<div class="article row">
  <div class="col-md-3">
    
  </div>
  <div class="article-main col-md-6">
    <div class="article-inner">
      <div class="article-avatar">
        <%= link_to @article.user do %>
          <%= image_tag @article.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
        <% end %> 
        <span class="article-user"><%= @article.user.name %></span>
      </div>
      <div class="article-config">
        <% if current_user?(@article.user) %>
          <%= link_to "編集", edit_article_path, class: "btn btn-outline-primary" %>
          <%= link_to "削除", article_path, class: "btn btn-outline-danger",
                                            method: :delete,
                                            data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>
      <div class="article-bookmark">
        <% if logged_in? %>
          <% if @article.bookmarked_by?(current_user) %>
            <% bookmark = @article.bookmarks.find_by(user_id: current_user.id) %>
            <%= link_to article_bookmark_path(@article, bookmark), class: 'btn bookbtn bookbtn-tag _bookbtn _marked', method: :delete do %>
              <i class="fas fa-bookmark"></i>ブックマーク解除
            <% end %>
          <% else %>
            <%= link_to  article_bookmarks_path(@article), class: 'btn bookbtn bookbtn-tag _bookbtn', method: :post do %>
            <i class="fas fa-bookmark"></i>ブックマーク追加
            <% end %>
          <% end %>
        <% end %>  
      </div>
    </div>
    <p class="article-stit"><%= @article.title %></p>
    <p class="article-content"><%= @article.content %></p>
  </div>
</div>
<div class="comment row">
  <div class="comment-inner col-6 offset-3">
    <h3>コメント</h3>
    <% if @article.article_comments.present? %>
      <ul class="comment-list">
        <% @article.article_comments.each do |comment| %>
          <li class="comment-item">
            <div class=" comment-avatar">
              <%= link_to comment.user do %>
                <%= image_tag comment.user.avatar.variant(gravity: :center, resize: "45x45^", crop: "45x45+0+0").processed, class: '_rounded' %>
              <% end %> 
              <span class="comment-user"><%= comment.user.name %></span>
            </div>
            <p class="comment-content"><%= comment.content %></p>
            <p class="comment-date"><%= time_ago_in_words(comment.created_at) %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
    
    <% if logged_in? %>
      <%= render 'article_comments/comment_form' %>
    <% end %>
  </div>
</div>
