<% monthly_goal = goal.user.monthly_goals.last %>
<% if goal.aim.present? && monthly_goal.present? %>

<div class="col-12 col-md-10 col-lg-8 mb-5">
  <li id="goal-<%= goal.id %>" class="card">
    <div class="card-body d-flex flex-column">
      <div class="card-wrap">
        <div class="card-avatar">
          <%= link_to goal.user do %>
            <%= image_tag goal.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
          <% end %> 
        </div>
        <span class="card-user"><%= link_to goal.user.name, goal.user %></span>
      </div>
      <%= link_to(goal, class: "card-link") do %>
        <div class="card-inner">
          <div class="card-content">
            <div class="aim">
              <p class="aim-tit"><i class="far fa-calendar-alt"></i> 期間</p>
              <p class="aim-txt"><%= goal.term_start %> 〜 <%= goal.term_end %></p>
              <p class="aim-tit"><i class="far fa-flag"></i> 目的、得たい結果</p>
              <%= simple_format(goal.aim, class: "aim-txt") %>
              <p class="aim-tit"><i class="far fa-chart-bar"></i> 目標数値、指標</p>
              <%= simple_format(goal.indicator, class: "aim-txt") %>
              <p class="aim-tit"><i class="fas fa-crosshairs"></i> １ヶ月間の目的</p>
              <p class="aim-txt"><%= monthly_goal.monthly_aim %></p>
              <p class="aim-tit"><i class="fas fa-tachometer-alt"></i> １ヶ月間の目標数値、指標</p>
              <p class="aim-txt"><%= monthly_goal.monthly_indicator %></p>
            </div>
            <div class="action">
              <p class="action-tit"><i class="fas fa-clipboard-list"></i> 1ヶ月間のアクション</p>
              <ul class="action-list">
                <% monthly_goal.goal_actions.each do |action| %>
                  <li class="action-item">
                    <div class="action-inner">
                      <div class="action-wrap">
                        <%= action.content %>
                      </div>
                      <div class="action-box">
                        <%= action.number %> / <%= action.number %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card-box mt-auto">
        <div class="row">
          <div class="col d-flex align-items-center">
            <span class="card-timestamp">
              <i class="far fa-clock"></i>
              <%= time_ago_in_words(goal.created_at) %>前
            </span>
            <% if current_user?(goal.user) %>
              <%= link_to "削除", goal, method: :delete,
                                        data: { confirm: "本当に削除しますか？" },
                                        class: "card-dlt dlt-card-#{goal.id} btn btn-outline-danger btn-sm" %>
            <% end %>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <div class="card-comment">
              <%= link_to goal do %>
                <i class="far fa-comment"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </li>
</div>

<% end %>