<% if @user.monthly_goals.first.present? %>
  <div class="action-month">
    <p class="action-tit">月間</p>
    <ul class="action-list">
      <% @monthly_actions.zip(@sums.reverse) do |m_act, sum| %>
        <li class="action-item">
          <div class="action-inner row">
            <div class="action-wrap col-5">
              <%= m_act.content %>
            </div>
            <div class="action-box col-2">
              <%= sum %> / <%= m_act.number %>
              <% ratio = ((sum.to_f / m_act.number) * 100).round(1) %>
            </div>
            <div class="action-progress col-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ratio %>%" aria-valuenow="<%= ratio %>" aria-valuemin="0" aria-valuemax="100"><%= ratio %>%</div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>  
  <div class="action-month">
    <p class="action-tit">月間</p>
    <p>未設定</p>
  </div>
<% end %>