<div class="tnav">
  <%= link_to user_path(@user), class: "tnav-link"  do %>
    <button class="btn"><i class="fas fa-home"></i></button>
  <% end %>
  <%= link_to goal_user_path(@user), class: "tnav-link"  do %>
    <button class="btn"><i class="far fa-flag"></i></button>
  <% end %>
  <%= link_to monthly_goal_user_path(@user), class: "tnav-link"  do %>
    <button class="btn"><i class="fas fa-crosshairs"></i></button>
  <% end %>
  <%= link_to report_user_path(@user), class: "tnav-link"  do %>
    <button class="btn"><i class="material-icons align-middle">feedback</i></button>
  <% end %>
  <%= link_to post_user_path(@user), class: "tnav-link"  do %>
    <button class="btn"><i class="far fa-comment-dots"></i></button>
  <% end %>
</div>