<section class="user-sec">
  <div class="user-avatar">
    <%= link_to @user do %>
      <%= image_tag @user.avatar.variant(gravity: :center, resize: "140x140^", crop: "140x140+0+0").processed, class: '_rounded' %>
    <% end %> 
  </div>
  <h1 class="text-center"><%= @user.name %></h1>
  <p class="user-txt"><%= @user.bio %></p>
  <div class="user-edit">
    <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-outline-primary" %>
  </div>
</section>