<% if @user.monthly_goals.first.present? %>
  <div class="action-week">
    <p class="action-tit">週間</p>
    <p><%= @nth_week %></p>
    <ul class="action-list">
      <% @monthly_actions.zip(@week_sums.reverse) do |m_act, sum| %>
        <% week_act_number = (m_act.number / @days_of_month) * @days_of_week %>
        <li class="action-item">
          <div class="action-inner row">
            <div class="action-wrap col-4">
              <%= m_act.content %>
            </div>
            <div class="action-box col-2">
              <%= sum %> / <%= (week_act_number).round %>
              <% ratio = ((sum.to_f / week_act_number) * 100).round(1) %>
            </div>
            <div class="action-progress col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ratio %>%" aria-valuenow="<%= ratio %>" aria-valuemin="0" aria-valuemax="100"><%= ratio %>%</div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>  
  <div class="action-week">
    <p class="action-tit">週間</p>
    <p>未設定</p>
  </div>
<% end %>