<% provide(:title, @user.name) %>
<div class="row">
  <aside class="user-aside col-md-4">
    <section class="user-sec">
      <div class="user-avatar"></div>
      <h1 class="text-center"><%= @user.name %></h1>
      <%= link_to edit_user_path(@user), class: "btn btn-outline-primary" %>
    </section>
  </aside>
  <div class="user-content col-md-7">
    <div class="user-inner">
      <ul class="tnav nav nav-tabs">
        <li class="tnav-item nav-item">
          <%= link_to "目標一覧", goal_user_path(@user), class: "nav-link" %>
        </li>
        <li class="tnav-item nav-item">
          <%= link_to "日報", report_user_path(@user), class: "nav-link" %>
        </li>
        <li class="tnav-item nav-item">
          <%= link_to "つぶやき", user_path(@user), class: "nav-link" %>
        </li>
      </ul>
      <% if @user.goals.any? %>
      
      <ul class="goals">
        <%= render @goals %>
      </ul>
      <% end %>
      <%= link_to "目標を作成する", new_goal_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>