<% provide(:title, @user.name) %>
<div class="row">
  <aside class="user-aside col-md-4">
    <%= render 'user_sec' %>
  </aside>
  <div class="user-content col-md-7">
    <div class="user-inner">
      <%= render 'tnav' %>
      <ul class="unav nav nav-tabs">
        <li class="nav-item">
          <%= link_to "日報", report_user_path(@user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "いいねした日報", liked_reports_user_path(@user), class: "nav-link" %>
        </li>
      </ul>
      <% if @user.reports.any? %>
      
      <ul class="reports">
        <%= render @liked_reports %>
      </ul>
      <%= paginate @liked_reports %>
      <% end %>
      <%= link_to "日報を作成する", new_report_path, class: 'btn btn-outline-primary ml-4' %>
    </div>
  </div>
</div>