<% provide(:title, "Edit User") %>
<% provide(:button_text, "編集") %>

<div class="row">
  <div class="col-md-3 ml-3">
    <nav class="nav nav-pills flex-column">
      <%= link_to "プロフィール", edit_user_path(@user), class: 'snav-link nav-item nav-link active' %>
      <%= link_to "メールアドレス", email_user_path(@user), class: 'snav-link nav-item nav-link' %>
      <%= link_to "パスワード", password_user_path(@user), class: 'snav-link nav-item nav-link' %>
    </nav>
  </div>
  <div class="col-md-6">
    <h1 class="text-center">パスワード変更</h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>