<% provide(:title, @user.name) %>
<div class="user row">
  <aside class="user-aside col-md-4">
    <%= render 'user_sec' %>
  </aside>
  <div class="user-content col-md-7">
    <div class="user-inner">
      <%= render 'tnav' %>
      <ul class="unav nav nav-tabs">
        <li class="nav-item">
          <%= link_to "つぶやき", post_user_path(@user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "いいねしたつぶやき", liked_posts_user_path(@user), class: "nav-link" %>
        </li>
      </ul>
      <% if @user.posts.any? %>
      
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>