<% provide(:title, @user.name) %>
<div class="user">
  <div class="row">
    <div class="d-flex col-12 mb-3 justify-content-between flex-wrap">
      <div class="d-flex">
        <h2>つぶやき</h2>
        <div class="term ml-3">
          <%= link_to  post_user_path(@user), class: "term-link" do %>
            <button class="btn">つぶやき</button>
          <% end %>
          <%= link_to  liked_posts_user_path(@user), class: "term-link" do %>
            <button class="btn">いいねしたつぶやき</button>
          <% end %>
          <%= link_to  root_path, class: "term-link" do %>
            <button class="btn"><i class="fas fa-plus"></i></button>
          <% end %>
        </div>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
</div>
  
<% if @user.posts.any? %>

<ol class="posts row">
  <%= render partial: 'users/post', collection: @posts %>
</ol>
<%= paginate @posts %>
<% end %>
  