<% provide(:title, @user.name) %>
<div class="user">
  <div class="row">
    <div class="d-flex col-12 mb-3 justify-content-between">
      <div class="d-flex">
        <h2>日報</h2>
        <div class="term ml-3">
          <%= link_to  report_user_path(@user), class: "term-link" do %>
            <button class="btn">日報</button>
          <% end %>
          <%= link_to  liked_reports_user_path(@user), class: "term-link" do %>
            <button class="btn">いいねした日報</button>
          <% end %>
        </div>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
</div>

<% if @user.reports.any? %>

<ul class="reports row">
  <%= render partial: 'users/report', collection: @reports %>
</ul>
<%= paginate @reports %>
<% end %>
<%= link_to "日報を作成する", new_report_path, class: 'btn btn-outline-primary ml-4' %>
