<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="tabs">
      <%= link_to "目標一覧", goal_user_path(@user) %>
      <%= link_to "日報", report_user_path(@user) %>
      <%= link_to "つぶやき", user_path(@user) %>
    </div>
    <% if @user.reports.any? %>
    
    <ul class="reports">
      <%= render @reports %>
    </ul>
    <% end %>
    <%= link_to "日報を作成する", new_report_path, class: 'btn btn-primary' %>
  </div>
</div>