<% provide(:title, @user.name) %>
<% goal = @user.goal %>
<% monthly_goal = @user.monthly_goals.last %>
<% rday_dates = @user.running_days.filter_map { |rday| rday.date } %>
<% post = @user.posts.first %>

<div class="user">
  <div class="row">
    <div class="d-flex col-12 mb-3 justify-content-between flex-wrap">
      <div class="d-flex">
        <h2>目標</h2>
        <div class="tab1">
          <div class="tab-list term ml-3">
            <button class="tab-item tab-active btn">長期</button>
            <button class="tab-item btn">月間</button>
            
            <button class="btn" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu">
              <%= link_to edit_goal_path(@user), class: "dropdown-item" do %>
                <i class="far fa-edit"></i> 長期目標を編集
              <% end %>
              <%= link_to new_monthly_goal_path(@user), class: "dropdown-item" do %>
                <i class="fas fa-plus mr-1"></i>  月間目標を新規作成
              <% end %>
              <%= link_to edit_monthly_goal_path(@user), class: "dropdown-item" do %>
                <i class="far fa-edit"></i> 月間目標を編集
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
  <div class="tab1-content row">
    <div class="tab-box box-show col-12">
      <div class="row">
        <%= render 'users/goal_tab', locals: { goal: @goal } %>
      </div>
    </div>
    <div class="tab-box col-12">
      <div class="row">
        <%= render 'users/monthly_goal_tab', local: monthly_goal %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-5">
      <div class="card">
        <div class="card-body">
          <div class="user-avatar">
            <%= link_to @user do %>
              <%= image_tag @user.avatar.variant(gravity: :center, resize: "70x70^", crop: "70x70+0+0").processed, class: '_rounded' %>
            <% end %> 
          </div>
          <h1 class="text-center"><%= @user.name %></h1>
          <p class="user-txt"><%= @user.bio %></p>
          <div class="user-edit">
            <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-5">
      <div class="card">
        <div class="card-body">
          <section class="calendar">
            <%= month_calendar do |date| %>
              <%= date.day %>
              
              <% if rday_dates.any? { |rday_date| rday_date == date } %>
                <%= image_tag 'mark_sumi.png', size: '30x30' %>
              <% end %>
              
              <% if date == goal.term_end %>
              <div class="calendar-wrap">
                <i class="fas fa-hourglass-end"></i>
                <span>目標締切日</span>
              </div>
              <% end %>
              
              <% if monthly_goal.present? && date == monthly_goal.term_end %>
                <div class="calendar-wrap">
                  <i class="fas fa-hourglass-end"></i>
                  <span>今月の目標締切日</span>
                </div>
              <% end %>
              
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5">
      <div class="card">
        <div class="action">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div class="action-title"><i class="fas fa-clipboard-list"></i> アクション</div>
              <div class="tab2">
                <div class="tab-list term ml-3">
                  <button class="tab-item btn bg-btn-gray">月間</button>
                  <button class="tab-item btn bg-btn-gray">週間</button>
                  <button class="tab-item btn bg-btn-gray">日間</button>
                  <%= link_to edit_monthly_goal_path(@user), class: "" do %>
                    <button class="btn"><i class="far fa-edit"></i></button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab2-content">
              <div class="tab-box box-show">
                <%= render 'users/monthly_action' %>
              </div>
              <div class="tab-box">
                <%= render 'users/weekly_action' %>
              </div>
              <div class="tab-box">
                <%= render 'users/daily_action' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row chart">
    <div class="col-lg-6 mb-5">
      <div class="card">
        <div class="card-header chart-header">
          <h4 class="m-0"><i class="far fa-check-circle"></i> 達成度</h4>
        </div>
        <div class="card-body">
          <canvas id="myChart" width="400px" height="400px"></canvas>
          <script>
            var ratios = <%= @monthly_ratios.reverse %>;
          </script>
          <script>my_chart();</script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <div class="card">
        <div class="card-header chart-header">
          <div class="d-flex align-items-center">
            <h4 class="m-0"><i class="fas fa-trophy"></i> 実績</h4>
            <div class="tab3">
              <div class="tab-list term ml-3">
                <button class="tab-item tab-active btn">月間</button>
                <button class="tab-item btn">週間</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
            <div class="chart-wrap mr-3">
              <ul class="chnav nav flex-column nav-pills">
                <li class="nav-item mb-3">
                  <a class="nav-link">
                    アクション１
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link">
                    アクション２
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link">
                    アクション３
                  </a>
                </li>
                <li class="nav-item mb-5">
                  <a class="nav-link">
                    アクション４
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content chart-content">
              <div class="tab-box box-show">
                <div class="d-flex justify-content-center mb-5">
                  <div class="px-3">
                    <span class="text-muted">平均</span>
                    <span class="d-block">
                      <%= @week_sums.first / @days_of_week %>
                    </span>
                  </div>
                  <div class="px-3">
                    <span class="text-muted">達成</span>
                    <span class="d-block">
                      <%= @week_sums.first %>
                    </span>
                  </div>
                  <div class="px-3">
                    <span class="text-muted">目標</span>
                    <span class="d-block">
                      <% m_act = @monthly_actions.first %>
                      <% week_act_number = (m_act.number / @days_of_month) * @days_of_week %>
                      <%= week_act_number.to_i %>
                    </span>
                  </div>
                  <div class="px-3">
                    <span class="text-muted">不足</span>
                    <span class="d-block">
                      <% lack = (@week_sums.first - week_act_number).to_i %>
                      <% if lack > 0 %>
                        <%= "+#{lack}" %>
                      <% else %>
                        <%= lack %>
                      <% end %>
                    </span>
                  </div>
                </div>
                <div class="tab-chart">
                  <canvas id="myChart2" width="400px" height="400px"></canvas>
                  <script>
                    var dayDate = <%= raw @day_date.reverse %>;
                    var dayDone = <%= @day_done.reverse %>;
                    var dayIndicator = <%= [].fill(monthly_goal.goal_actions.first.number, 0, @days_of_week) %>;
                  </script>
                  <script>my_chart2();</script>
                </div>
              </div>
              <div class="tab-box"></div>
              <div class="tab-box"></div>
              <div class="tab-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-5 posts">
      <div class="card">
        <% if @user.posts.present? %>
        <div class="card-header">
          <div class="card-title">最新のつぶやき</div>
        </div>
        <div class="card-body">
          <div class="card-wrap d-flex">
            <div class="card-avatar">
              <%= link_to post.user do %>
                <%= image_tag post.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
              <% end %>
            </div>
            <div class="card-title"><%= link_to post.user.name, post.user %></div>
          </div>
          <%= link_to(post_path(post), class: "card-link card-link-#{post.id}") do %>
            <div class="card-inner">
              <div class="card-text"><%= post.content %></div>
              <div class="images">
                <% if post.images.attached? %>
                  <div class="row">
                    <%  post.images.each do |image| %>
                      <div class="col-6">
                        <%= image_tag image.variant(resize: "280x180!") %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>  
          <div class="card-box">
            <div class="row">
              <div class="col d-flex">
                <span class="card-timestamp">
                  <%= time_ago_in_words(post.created_at) %>前
                </span>
              </div>
              <div class="col d-flex justify-content-end">
                <div class="card-comment">
                  <%= link_to post do %>
                    <i class="far fa-comment"></i>
                    <span><%= post.post_comments.count %></span>
                  <% end %>
                </div>
                <div class="card-like">
                  <% if logged_in? %>
                    <% like = post.post_likes.find_by(user_id: current_user.id) %>
                    <% if current_user.post_liked?(post) %>
                      <%= link_to post_post_like_path(post, like), method: :delete do %>
                        <span>
                          <i class="fas fa-heart"></i>
                          <%= post.post_likes.count %>
                        </span>
                      <% end %>
                    <% else %>
                      <%= link_to post_post_likes_path(post), method: :post do %>
                        <span>
                          <i class="far fa-heart"></i>
                          <%= post.post_likes.count %>
                        </span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <span>
                      <i class="far fa-heart"></i>
                      <%= post.post_likes.count %>
                    </span>
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <div class="card-body">
          つぶやきがありません
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <div class="card ">
        <div class="card-body">
          coming soon
        </div>
      </div>
    </div>
  </div>
</div>