<% provide(:title, @user.name) %>
<% goal = @user.goal %>
<% monthly_goal = @user.monthly_goals.last %>
<% rday_dates = @user.running_days.filter_map { |rday| rday.date } %>
<% post = @user.posts.first %>
<div class="user">
  <div class="row">
    <div class="d-flex col-12 mb-3 justify-content-between">
      <div class="d-flex">
        <h2>目標</h2>
        <div class="tab1">
          <div class="tab-list term ml-3">
            <button class="tab-item tab-active btn">長期</button>
            <button class="tab-item btn">月間</button>
          </div>
        </div>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
  <div class="tab1-content row">
    <div class="tab-box box-show col-12">
      <div class="row">
        <%= render 'users/goal_tab', locals: { goal: @goal } %>
      </div>
    </div>
    <div class="tab-box col-12">
      <div class="row">
        <%= render 'users/monthly_goal_tab', local: monthly_goal %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 mb-5">
      <div class="card">
        <div class="card-body">
          <div class="user-avatar">
            <%= link_to @user do %>
              <%= image_tag @user.avatar.variant(gravity: :center, resize: "70x70^", crop: "70x70+0+0").processed, class: '_rounded' %>
            <% end %> 
          </div>
          <h1 class="text-center"><%= @user.name %></h1>
          <p class="user-txt"><%= @user.bio %></p>
          <div class="user-edit">
            <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 mb-5">
      <div class="card">
        <div class="card-body">
          <section class="calendar">
            <%= month_calendar do |date| %>
              <%= date.day %>
              
              <% if rday_dates.any? { |rday_date| rday_date == date } %>
                <%= image_tag 'mark_sumi.png', size: '30x30' %>
              <% end %>
              
              <% if date == goal.term_end %>
              <div class="calendar-wrap">
                <i class="fas fa-hourglass-end"></i>
                <span>目標締切日</span>
              </div>
              <% end %>
              
              <% if monthly_goal.present? && date == monthly_goal.term_end %>
                <div class="calendar-wrap">
                  <i class="fas fa-hourglass-end"></i>
                  <span>今月の目標締切日</span>
                </div>
              <% end %>
              
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 mb-5">
      <div class="card">
        <div class="card-body">
          coming soon
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-5">
      <div class="card">
        <div class="action">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div class="action-title"><i class="fas fa-clipboard-list"></i> アクション</div>
              <div class="tab2">
                <div class="tab-list term ml-3">
                  <button class="tab-item btn bg-btn-gray">月間</button>
                  <button class="tab-item btn bg-btn-gray">週間</button>
                  <button class="tab-item btn bg-btn-gray">日間</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab2-content">
              <div class="tab-box box-show">
                <%= render 'users/monthly_action' %>
              </div>
              <div class="tab-box">
                <%= render 'users/weekly_action' %>
              </div>
              <div class="tab-box">
                <%= render 'users/daily_action' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 mb-5">
      <div class="card">
        <div class="card-body">
          coming soon
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-5">
      <div class="card ">
        <div class="card-body">
          coming soon
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 mb-5 posts">
      <div class="card">
        <% if @user.posts.present? %>
        <div class="card-header">
          <div class="card-title">最新のつぶやき</div>
        </div>
        <div class="card-body">
          <div class="card-wrap d-flex">
            <div class="card-avatar">
              <%= link_to post.user do %>
                <%= image_tag post.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
              <% end %>
            </div>
            <div class="card-title"><%= link_to post.user.name, post.user %></div>
          </div>
          <%= link_to(post_path(post), class: "card-link card-link-#{post.id}") do %>
            <div class="card-inner">
              <div class="card-text"><%= post.content %></div>
              <div class="card-img">
                <% if post.images.attached? %>
                  <div class="row">
                    <%  post.images.each do |image| %>
                      <div class="col-6">
                        <%= image_tag image.variant(resize: "280x180!") %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>  
          <div class="card-box">
            <div class="row">
              <div class="col d-flex">
                <span class="card-timestamp">
                  <%= time_ago_in_words(post.created_at) %> ago
                </span>
              </div>
              <div class="col d-flex justify-content-end">
                <div class="card-comment">
                  <%= link_to post do %>
                    <i class="far fa-comment"></i>
                    <span><%= post.post_comments.count %></span>
                  <% end %>
                </div>
                <div class="card-like">
                  <% if logged_in? %>
                    <% like = post.post_likes.find_by(user_id: current_user.id) %>
                    <% if current_user.post_liked?(post) %>
                      <%= link_to post_post_like_path(post, like), method: :delete do %>
                        <span>
                          <i class="fas fa-heart"></i>
                          <%= post.post_likes.count %>
                        </span>
                      <% end %>
                    <% else %>
                      <%= link_to post_post_likes_path(post), method: :post do %>
                        <span>
                          <i class="far fa-heart"></i>
                          <%= post.post_likes.count %>
                        </span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <span>
                      <i class="far fa-heart"></i>
                      <%= post.post_likes.count %>
                    </span>
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <div class="card-body">
          つぶやきがありません
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-xl-6 mb-5">
      <div class="card ">
        <div class="card-body">
          coming soon
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user row">
  <aside class="user-aside col-md-4">
    <%= render 'user_sec' %>
  </aside>
  <div class="user-content col-md-7">
    <div class="user-inner">
      <%= render 'tnav' %>
    </div>
    <section class="calendar">
      <%= month_calendar do |date| %>
        <%= date.day %>
        
        <% if rday_dates.any? { |rday_date| rday_date == date } %>
          <%= image_tag 'mark_sumi.png', size: '30x30' %>
        <% end %>
        
        <% if date == goal.term_end %>
        <div class="calendar-wrap">
          <i class="fas fa-hourglass-end"></i>
          <span>目標締切日</span>
        </div>
        <% end %>
        
        <% if monthly_goal.present? && date == monthly_goal.term_end %>
          <div class="calendar-wrap">
            <i class="fas fa-hourglass-end"></i>
            <span>今月の目標締切日</span>
          </div>
        <% end %>
        
      <% end %>
    </section>
    <div class="user-goal">
      <div class="ugoal">
        <div class="ugoal-long">
          <div class="ugoal-btit">長期目標</div>
          <div class="ugoal-wrap">
            <p class="ugoal-tit">期間</p>
            <% if goal.term_start.present? || goal.term_end.present? %>
              <p class="ugoal-txt"><%= goal.term_start.strftime('%Y年%m月%d日') %> 〜 <%= goal.term_end.strftime('%Y年%m月%d日') %></p>
            <% else %>
              <p class="ugoal-txt">未設定</p>
            <% end %>
            <p class="ugoal-tit">目的、得たい結果</p>
            <% if goal.aim.present? %>
              <p class="ugoal-txt"><%= simple_format(goal.aim) %></p>
            <% else %>
              <p class="ugoal-txt">未設定</p>
            <% end %>
            <p class="ugoal-tit">目標数値、指標</p>
            <% if goal.indicator.present? %>
              <p class="ugoal-txt"><%= simple_format(goal.indicator) %></p>
            <% else %>
              <p class="ugoal-txt">未設定</p>
            <% end %>
            <%= link_to edit_goal_path(goal), class: "ugoal-btn btn btn-danger _cubic" do %>
                長期目標を設定<i class="fas fa-angle-right fa-position-right"></i>
            <% end %>
          </div>
        </div>
        <div class="ugoal-month">
          <div class="ugoal-btit">月間目標</div>
          <div class="ugoal-wrap">
            <% if monthly_goal.present? %>
              <p class="ugoal-tit">期間</p>
              <p class="ugoal-txt"><%= monthly_goal.term_start %> 〜 <%= monthly_goal.term_end %></p>
              <p class="ugoal-tit">今月の目的</p>
              <p class="ugoal-txt"><%= monthly_goal.monthly_aim %></p>
              <p class="ugoal-tit">今月の目標数値、指標</p>
              <p class="ugoal-txt"><%= monthly_goal.monthly_indicator %></p>
              <%= link_to new_monthly_goal_path, class: "ugoal-btn btn btn-danger _cubic" do %>
                  月間目標作成<i class="fas fa-angle-right fa-position-right"></i>
              <% end %>
              <%= link_to goal_user_path(current_user), class: "ugoal-btn btn btn-danger _cubic" do %>
                  月間目標一覧<i class="fas fa-angle-right fa-position-right"></i>
              <% end %>
            <% else %>
              <p class="ugoal-tit">期間</p>
              <p class="ugoal-txt">未設定</p>
              <p class="ugoal-tit">今月の目的</p>
              <p class="ugoal-txt">未設定</p>
              <p class="ugoal-tit">今月の目標数値、指標</p>
              <p class="ugoal-txt">未設定</p>
              <%= link_to new_monthly_goal_path, class: "ugoal-btn btn btn-danger _cubic" do %>
                  月間目標作成<i class="fas fa-angle-right fa-position-right"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="user-progress">
      <div class="action">
        <div class="action-btit">アクション</div>
        <% if @user.monthly_goals.first.present? %>
          <div class="action-month">
            <p class="action-tit">月間</p>
            <ul class="action-list">
              <% monthly_actions = @user.monthly_goals.last.goal_actions %>
              <% sum_of_monthly_actions %>
              <% monthly_actions.each do |m_act| %>
                <li class="action-item">
                  <div class="action-inner row">
                    <div class="action-wrap col-4">
                      <%= m_act.content %>
                    </div>
                    <div class="action-box col-2">
                      <%= @sum1 %> / <%= m_act.number %>
                      <% ratio = (@sum1.to_f / m_act.number) * 100 %>
                    </div>
                    <div class="action-progress col-6">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ratio %>%" aria-valuenow="<%= ratio %>" aria-valuemin="0" aria-valuemax="100"><%= ratio %>%</div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="action-week">
            <p class="action-tit">週間</p>
            <ul class="action-list">
              <% monthly_actions.each do |m_act| %>
                <li class="action-item">
                  <div class="action-inner row">
                    <div class="action-wrap col-4">
                      <%= m_act.content %>
                    </div>
                    <div class="action-box col-2">
                      <%= m_act.number %> / <%= m_act.number %>
                    </div>
                    <div class="action-progress col-6">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="action-day">
            <p class="action-tit">日間</p>
            <ul class="action-list">
              <% monthly_actions.each do |m_act| %>
                <li class="action-item">
                  <div class="action-inner row">
                    <div class="action-wrap col-4">
                      <%= m_act.content %>
                    </div>
                    <div class="action-box col-2">
                      <%= m_act.number %> / <%= m_act.number %>
                    </div>
                    <div class="action-progress col-6">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>  
          <div class="action-month">
            <p class="action-tit">月間</p>
            <p>未設定</p>
          </div>
          <div class="action-week">
            <p class="action-tit">週間</p>
            <p>未設定</p>
          </div>
          <div class="action-day">
            <p class="action-tit">日間</p>
            <p>未設定</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

