<li class="board-<%= board.id %> board-count">
  <div class="board-user">
    <%= board.user.name %>
  </div>
  <%= link_to board do %>
    <div class="board-content">
      <p><%= board.title %></p>
      <p><%= board.content %></p>
    </div>
  <% end %>
</li>