<% provide(:title, "掲示板一覧") %>
<% provide(:button_text, "検索") %>
<div class="row">
  <div class="col-md-3 _art-ml">
    <%= link_to new_board_path, class: 'btn btn-outline-success mb-4' do %>
      掲示板を作成 <i class="fas fa-pen"></i>
    <% end %>
    <div class="tag">
      <div class="tag-header">
        <i class="fas fa-tags"></i> タグ
      </div>
      <ul class="tag-list d-flex flex-wrap">
        <% @tags.each do |tag| %>
          <li class="tag-item">
            <%= link_to tag_boards_path(tag), class: "tag-link badge badge-pill badge-info" do %>
              <%= tag.name %> <span class="badge badge-light"><%= tag.boards.count %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="fav-articles">
      
    </div>
  </div>
  <div class="col-md-6 _art-ml">
    <div class="serach">
      <%= form_with(url: search_boards_path, method: :get, local: true) do |f| %>
        <div class="search-inner d-flex">
          <%= f.text_field :search, class: 'form-control' %>
          <%= button_tag type: "submit", class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="boards">
      <%= render @boards %>
    </div>
  </div>
</div>
