<% provide(:title, "掲示板") %>
<% provide(:button_text, "投稿") %>

<div class="board row justify-content-center">
  <div class="col-12 col-md-8">
    <div class="card mb-5">
      <div class="card-header card-inner">
        <div class="d-flex">
          <div class="card-avatar">
            <%= link_to @board.user do %>
              <%= image_tag @avatar, class: '_rounded' %>
            <% end %>
            <span class="card-user"><%= @board.user.name %></span>
          </div>
          <div class="card-config">
            <% if current_user?(@board.user) %>
              <%= link_to "編集", edit_board_path, class: "btn btn-outline-primary" %>
              <%= link_to "削除", board_path, class: "btn btn-outline-danger",
                                                method: :delete,
                                                data: { confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
        <p class="card-title"><%= @board.title %></p>
      </div>
      <div class="card-body">
        <p class="card-content"><%= simple_format(@board.content) %></p>
      </div>
      <div class="card-footer _border-rad">
        <div class="tag d-flex">
          <div class="tag-header">
            <div class="tag-wrap">
              <i class="fas fa-tags"></i> タグ
            </div>
          </div>
          <ul class="tag-list d-flex flex-wrap">
            <% @board_tags.each do |board_tag| %>
              <% tag = board_tag.tag %>
              <li class="tag-item">
                <%= link_to tag_boards_path(tag), class: "tag-link badge badge-pill badge-info" do %>
                  <%= tag.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="d-flex justify-content-between">
          <%= @board.created_at.strftime('%Y/%m/%d %H:%M') %>
          <div class="card-comment">
            <a href="#comment">
              <i class="far fa-comment"></i>
              <span><%= @comment_counts %></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div id="comment" class="comment">
      <% if @comments.present? %>  
        <div class="card mb-5">
          <div class="card-header">
            <h4 class="comment-header"><i class="far fa-comment"></i> コメント</h4>
          </div>
          <div class="card-body">
            <ul class="comment-list">
              <% @comments.each do |comment| %>
                <li class="comment-item">
                  <div class="comment-avatar">
                    <%= link_to comment.user do %>
                      <%= image_tag comment.user.avatar.variant(gravity: :center, resize: "45x45^", crop: "45x45+0+0").processed, class: '_rounded' %>
                    <% end %> 
                    <span class="comment-user"><%= comment.user.name %></span>
                    <% if logged_in? %>
                      <% if comment.user_id == current_user.id %>
                          <%= link_to "削除", board_board_comment_path(@board, comment), method: :delete, class: "btn btn-outline-danger" %>
                      <% end %>
                    <% end %> 
                  </div>
                  <p class="comment-content"><%= comment.content %></p>
                  <p class="comment-date"><%= time_ago_in_words(comment.created_at) %>前</p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %> 
      
      <div class="card comment-form">
        <div class="card-body">
          <%= render 'board_comments/comment_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

