<% provide(:title, "掲示板") %>
<% provide(:button_text, "投稿") %>

<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6">
    <p><%= @board.user.name %></p>
    <p><%= @board.title %></p>
    <p><%= @board.content %></p>
  </div>
</div>
<div class="row justify-content-around">
  <%= link_to "編集", edit_board_path, class: "btn btn-primary" %>
  <%= link_to "削除", board_path, class: "btn btn-danger",
                                    method: :delete,
                                    data: { confirm: "本当に削除しますか？" } %>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <%= render 'board_comments/comment_form' %>
    
    <% @comments.each do |comment| %>
      <p><%= comment.user.name %></p>
      <p><%= comment.content %></p>
      <p><%= time_ago_in_words(comment.created_at) %></p>
      <% if comment.user_id == current_user.id %>
          <%= link_to "削除", board_board_comment_path(@board, comment), method: :delete, class: "btn btn-danger" %>
      <% end %>
      <div>
        <% if replies_to_comment = @replies.where(reply_id: comment.id) %>
          <% replies_to_comment.each do |reply| %>
            <div class="ml-2">
              <%= reply.user.name %>
              <%= reply.content %>
              
              <% if reply.user_id == current_user.id %>
                <%= link_to "削除", board_board_comment_path(@board, reply), method: :delete, class: "btn btn-danger" %>
              <% end %>
              <%= render 'board_comments/reply_form', comment: reply %>
              
              <% if replies_to_reply = @replies.where(reply_id: reply.id) %>
                <% replies_to_reply.each do |rep| %>
                  <div class="ml-2">
                    <%= rep.user.name %>
                    <%= rep.content %>
                    
                    <% if rep.user_id == current_user.id %>
                      <%= link_to "削除", board_board_comment_path(@board, rep), method: :delete, class: "btn btn-danger" %>
                    <% end %>
                    <%= render 'board_comments/reply_form', comment: rep %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <%= render 'board_comments/reply_form', comment: comment %>
    <% end %>
  </div>
</div>
