<li id="post-<%= post.id %>" class="post-li">
  <div class="post-wrap">
    <div class="post-avatar">
      <%= link_to post.user do %>
        <%= image_tag post.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
      <% end %>
    </div>
    <span class="post-user"><%= link_to post.user.name, post.user %></span>
  </div>
  <%= link_to(post_path(post), class: "post-link post-link-#{post.id}") do %>
    <div class="post-inner">
      <div class="post-content">
          <div class="post-text">
            <%= post.content %>
          </div>
          <div class="post-image">
            <%= image_tag post.display_image if post.image.attached? %>
          </div>
      </div>
    </div>
  <% end %>
  <div class="post-box">
    <div class="row">
      <div class="col d-flex">
        <span class="post-timestamp">
          <%= time_ago_in_words(post.created_at) %> ago
        </span>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="post-comment">
          <%= link_to post do %>
            <i class="far fa-comment"></i>
            <span><%= post.post_comments.count %></span>
          <% end %>
        </div>
        <div class="post-like">
          <% if logged_in? %>
            <% like = post.post_likes.find_by(user_id: current_user.id) %>
            <% if current_user.post_liked?(post) %>
              <%= link_to post_post_like_path(post, like), method: :delete do %>
                <span>
                  <i class="fas fa-heart"></i>
                  <%= post.post_likes.count %>
                </span>
              <% end %>
            <% else %>
              <%= link_to post_post_likes_path(post), method: :post do %>
                <span>
                  <i class="far fa-heart"></i>
                  <%= post.post_likes.count %>
                </span>
              <% end %>
            <% end %>
          <% else %>
            <span>
              <i class="far fa-heart"></i>
              <%= post.post_likes.count %>
            </span>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</li>