<li id="post-<%= post.id %>" class="post-count">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>
    <% if current_user?(post.user) %>
      <%= link_to "削除", post, method: :delete,
                                data: { confirm: "本当に削除しますか？" },
                                class: "dlt-post-#{post.id}" %>
    <% end %>
  </span>
</li>