<% provide(:title, "つぶやき") %>
<% provide(:button_text, "投稿") %>
<li id="post-<%= @post.id %>" class="post-count">
  <span class="user"><%= link_to @post.user.name, @post.user %></span>
  <span class="content">
      <%= @post.content %>
      <%= image_tag @post.display_image if @post.image.attached? %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(@post.created_at) %>
    <% if current_user?(@post.user) %>
      <%= link_to "削除", @post, method: :delete,
                                data: { confirm: "本当に削除しますか？" },
                                class: "dlt-@post-#{@post.id}" %>
    <% end %>
  </span>
  <div>
    <% like = @post.post_likes.find_by(user_id: current_user.id) %>
    <% if current_user.post_liked?(@post) %>
      <%= link_to post_post_like_path(@post, like), method: :delete do %>
        <span>
          <i class="fas fa-heart"></i>
          <%= @post.post_likes.count %>
        </span>
      <% end %>
    <% else %>
      <%= link_to post_post_likes_path(@post), method: :post do %>
        <span>
          <i class="far fa-heart"></i>
          <%= @post.post_likes.count %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= render 'post_comments/comment_form' %>
      
      <% @comments.each do |comment| %>
        <p><%= comment.user.name %></p>
        <p><%= comment.content %></p>
        <p><%= time_ago_in_words(comment.created_at) %></p>
        <% if comment.user_id == current_user.id %>
            <%= link_to "削除", post_post_comment_path(@post, comment), method: :delete, class: "btn btn-danger" %>
        <% end %>
        <div>
          <% if replies_to_comment = @replies.where(reply_id: comment.id) %>
            <% replies_to_comment.each do |reply| %>
              <div class="ml-2">
                <%= reply.user.name %>
                <%= reply.content %>
                
                <% if reply.user_id == current_user.id %>
                  <%= link_to "削除", post_post_comment_path(@post, reply), method: :delete, class: "btn btn-danger" %>
                <% end %>
                <%= render 'post_comments/reply_form', comment: reply %>
                
                <% if replies_to_reply = @replies.where(reply_id: reply.id) %>
                  <% replies_to_reply.each do |rep| %>
                    <div class="ml-2">
                      <%= rep.user.name %>
                      <%= rep.content %>
                      
                      <% if rep.user_id == current_user.id %>
                        <%= link_to "削除", post_post_comment_path(@post, rep), method: :delete, class: "btn btn-danger" %>
                      <% end %>
                      <%= render 'post_comments/reply_form', comment: rep %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <%= render 'post_comments/reply_form', comment: comment %>
      <% end %>
    </div>
  </div>
</li>