<% provide(:title, "つぶやき") %>
<% provide(:button_text, "投稿") %>
<div class="posts row justify-content-center">
  <div class="col-8">
    <div id="post-<%= @post.id %>" class="card mb-5">
      <div class="card-body">
        <div class="card-wrap">
          <div class="card-avatar">
            <%= link_to @post.user do %>
              <%= image_tag @post.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
            <% end %>
          </div>
          <div class="card-title"><%= link_to @post.user.name, @post.user %></div>
        </div>
        <div class="card-inner">
          <div class="card-content">
              <div class="card-text">
                <%= @post.content %>
              </div>
              <div class="images">
                <% if @post.images.attached? %>
                  <div class="row">
                    <%  @post.images.each do |image| %>
                      <div class="col-6">
                        <%= image_tag image.variant(resize: "280x180!") %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
        <div class="card-box">
          <div class="row">
            <div class="col d-flex">
              <span class="card-timestamp">
                <%= time_ago_in_words(@post.created_at) %>前
              </span>
              <% if current_user?(@post.user) %>
                <%= link_to "削除", @post, method: :delete,
                                          data: { confirm: "本当に削除しますか？" },
                                          class: "card-dlt dlt-card-#{@post.id} btn btn-outline-danger btn-sm" %>
              <% end %>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="card-comment">
                <a href="#comment">
                  <i class="far fa-comment"></i>
                  <span><%= @post.post_comments.count %></span>
                </a>
              </div>
              <div class="card-like">
                <% if logged_in? %>
                  <% like = @post.post_likes.find_by(user_id: current_user.id) %>
                  <% if current_user.post_liked?(@post) %>
                    <%= link_to post_post_like_path(@post, like), method: :delete do %>
                      <span>
                        <i class="fas fa-heart"></i>
                        <%= @post.post_likes.count %>
                      </span>
                    <% end %>
                  <% else %>
                    <%= link_to post_post_likes_path(@post), method: :post do %>
                      <span>
                        <i class="far fa-heart"></i>
                        <%= @post.post_likes.count %>
                      </span>
                    <% end %>
                  <% end %>
                <% else %>
                  <span>
                    <i class="far fa-heart"></i>
                    <%= @post.post_likes.count %>
                  </span>
                <% end %>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="comment" class="comment">
      <% if @comments.present? %>
        <div class="card mb-5">
          <div class="card-header">
            <h4 class="comment-header"><i class="far fa-comment"></i> コメント</h4>
          </div>
          <div class="card-body">
              <ul class="comment-list">
                <% @comments.each do |comment| %>
                  <li class="comment-item">
                    <div class=" comment-avatar">
                      <%= link_to comment.user do %>
                        <%= image_tag comment.user.avatar.variant(gravity: :center, resize: "45x45^", crop: "45x45+0+0").processed, class: '_rounded' %>
                      <% end %> 
                      <span class="comment-user"><%= comment.user.name %></span>
                      <% if current_user != nil && comment.user_id == current_user.id %>
                          <%= link_to "削除", post_post_comment_path(@post, comment), method: :delete, class: "btn btn-outline-danger" %>
                      <% end %>
                    </div>
                    <p class="comment-content"><%= comment.content %></p>
                    <p class="comment-date"><%= time_ago_in_words(comment.created_at) %>前</p>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      <% end %>
      <div class="card comment-form">
        <div class="card-body">
          <%= render 'post_comments/comment_form' %>
        </div>
      </div>
    </div>
  </div>
</div>