<li id="goal-<%= goal.id %>" class="goal-count">
  <span class="goal-user"><%= link_to goal.user.name, goal.user %></span>
  <%= link_to(goal) do %>
    <div class="goal-content">
      <p class="goal-tit">目的、得たい結果</p>
      <%= goal.aim %>
      <p class="goal-tit">目標数値、指標</p>
      <%= goal.indicator %>
      <p class="goal-tit">１ヶ月間の目的</p>
      <%= goal.monthly_aim %>
      <p class="goal-tit">１ヶ月間の目標数値、指標</p>
      <%= goal.monthly_indicator %>
      <p class="goal-tit">開始日</p>
      <%= goal.term_start %>
      <p class="goal-tit">終了日</p>
      <%= goal.term_end %>
      <div class="goal-actions">
        <p class="goal-tit">1ヶ月間のアクション</p>
        <% goal.goal_actions.each do |action| %>
            <%= action.content %>
            <%= action.number %>
        <% end %>
      </div>
    </div>
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(goal.created_at) %>
    <% if current_user?(goal.user) %>
      <%= link_to "削除", goal, method: :delete,
                                data: { confirm: "本当に削除しますか？" },
                                class: "dlt-goal-#{goal.id}" %>
    <% end %>
  </span>
</li>