<%= form_with(model: @goal, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @goal %>
  
  <p>期間</p>
  <div class="row">
    <div class="col">
      <%= f.label :term_start, "開始日" %>
      <%= f.date_field :term_start, class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :term_end, "終了日" %>
      <%= f.date_field :term_end, class: 'form-control' %>
    </div> 
  </div>
  
  <%= f.label :aim, "目的、得たい結果" %>
  <%= f.text_area :aim, class: 'form-control' %>
  
  <%= f.label :indicator, "目標数値、指標" %>
  <%= f.text_area :indicator, class: 'form-control' %>
  
  
  <%= f.submit yield(:button_text) , class: "btn btn-primary" %>
<% end %>