<% provide(:title, "みんなの目標 #{@goal.user.name}") %>
<div class="goals row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="card">
      <div class="card-header">
        <%= link_to goals_path, class: "card-back" do %>
          <i class="fas fa-arrow-left"></i> 
        <% end %>  
          長期目標
      </div>
      <div id="goal-<%= @goal.id %>" class="card-body">
        <div class="card-wrap">
          <div class="card-avatar">
            <%= link_to @goal.user do %>
              <%= image_tag @goal.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
            <% end %> 
          </div>
          <span class="card-user"><%= link_to @goal.user.name, @goal.user %></span>
        </div>
        <% monthly_goal = @goal.user.monthly_goals.last %>
        <div class="card-inner">
          <div class="card-content">
            <div class="aim">
              <p class="aim-tit"><i class="far fa-calendar-alt"></i> 期間</p>
              <p class="aim-txt"><%= @goal.term_start %> 〜 <%= @goal.term_end %></p>
              <p class="aim-tit"><i class="far fa-flag"></i> 目的、得たい結果</p>
              <p class="aim-txt"><%= @goal.aim %></p>
              <p class="aim-tit"><i class="far fa-chart-bar"></i> 目標数値、指標</p>
              <p class="aim-txt"><%= @goal.indicator %></p>
              <p class="aim-tit"><i class="fas fa-crosshairs"></i>１ヶ月間の目的</p>
              <p class="aim-txt"><%= monthly_goal.monthly_aim %></p>
              <p class="aim-tit"><i class="fas fa-tachometer-alt"></i>１ヶ月間の目標数値、指標</p>
              <p class="aim-txt"><%= monthly_goal.monthly_indicator %></p>
            </div>
            <div class="action">
              <p class="action-tit"><i class="fas fa-clipboard-list"></i> 1ヶ月間のアクション</p>
              <ul class="action-list">
                <% monthly_goal.goal_actions.each do |action| %>
                  <li class="action-item">
                    <div class="action-inner">
                      <div class="action-wrap">
                        <%= action.content %>
                      </div>
                      <div class="action-box">
                        <%= action.number %> / <%= action.number %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-box">
          <div class="row">
            <div class="col d-flex align-items-center">
              <span class="card-timestamp">
                <i class="far fa-clock"></i>
                <%= time_ago_in_words(@goal.created_at) %>前
              </span>
              <% if current_user?(@goal.user) %>
                <%= link_to "削除", @goal, method: :delete,
                                          data: { confirm: "本当に削除しますか？" },
                                          class: "card-dlt dlt-card-#{@goal.id} btn btn-outline-danger btn-sm" %>
                <%= link_to "編集", edit_goal_path(@goal), class: 'card-edit btn btn-outline-success btn-sm' %>
              <% end %>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
              <div class="card-comment">
                <%= link_to @goal do %>
                  <i class="far fa-comment"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>