<% monthly_goal = report.monthly_goal %>
<li id="report-<%= report.id %>" class="card mb-4">
  <div class="card-body">
    <div class="card-wrap">
      <div class="card-ubox">
        <div class="card-avatar">
          <%= link_to report.user do %>
            <%= image_tag report.user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
          <% end %> 
        </div>
        <span class="card-user"><%= link_to report.user.name, report.user %></span>
      </div>
      <button class="card-rdays btn btn-success"><%= report.r_days %>日目</button>
    </div>
    <%= link_to(report_path(report), class: "card-link") do %>
      <div class="card-inner">
        <div class="card-content">
          <div class="aim">
            <p class="aim-tit"><i class="fas fa-crosshairs"></i> 今月の目的</p>
            <p class="aim-txt"><%= monthly_goal.monthly_aim %></p>
            <p class="aim-tit"><i class="fas fa-tachometer-alt"></i> 今月の目標指標</p>
            <p class="aim-txt"><%= monthly_goal.monthly_indicator %></p>
          </div>
        
          <div class="action">
            <p class="action-tit"><i class="far fa-star"></i> 今日達成したアクション</p>
            <ul class="action-list">
              <% days_of_month_public = (monthly_goal.term_end - monthly_goal.term_start) %>
              <% rep_acts = report.report_actions.reverse %>
              <% actions = monthly_goal.goal_actions %>
              <%= actions.zip(rep_acts) do |action, rep_act| %>
              <li class="action-item">
                <div class="action-inner">
                  <div class="action-wrap">
                    <%= action.content %>
                  </div>
                  <div class="action-box">
                    <%= rep_act.number %> / <%= (action.number.to_f / days_of_month_public).ceil.to_i %>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="realize">
            <p class="realize-tit"><i class="far fa-lightbulb"></i> 感想、気付き</p>
            <p><%= report.content %></p>
          </div>
          <div class="images">
            <% if report.images.attached? %>
              <div class="row">
                <% report.images.each do |image| %>
                  <div class="col-6">
                    <%= image_tag image.variant(resize: "240x180!") %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div class="card-box">
      <div class="row">
        <div class="col d-flex">
          <span class="card-timestamp">
            <i class="far fa-clock"></i>
            <%= time_ago_in_words(report.created_at) %>前
          </span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="card-comment">
            <%= link_to report do %>
              <i class="far fa-comment"></i>
              <span><%= report.report_comments.count %></span>
            <% end %>
          </div>
          <div class="card-like">
            <% if logged_in? %>
              <% like = report.report_likes.find_by(user_id: current_user.id) %>
              <% if current_user.report_liked?(report) %>
                <%= link_to report_report_like_path(report, like), method: :delete do %>
                  <span>
                    <i class="fas fa-heart"></i>
                    <%= report.report_likes.count %>
                  </span>
                <% end %>
              <% else %>
                <%= link_to report_report_likes_path(report), method: :post do %>
                  <span>
                    <i class="far fa-heart"></i>
                    <%= report.report_likes.count %>
                  </span>
                <% end %>
              <% end %>
            <% else %>
              <span>
                <i class="far fa-heart"></i>
                <%= report.report_likes.count %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>