<% provide(:title, "日報") %>
<% provide(:controller, :reports) %>
<% provide(:action, :index) %>
<% provide(:pluralize, current_user.reports.count) %>
<% provide(:feed, "report") %>
<div class="row">
    <h1 class="col-md-12">
        <%= current_user.goals.find(9).aim %>
        <%= current_user.goals.find(9).indicator %>
    </h1>
    <div class="col-md-6">
        <%= current_user.goals.find(9).monthly_aim %>
        <%= current_user.goals.find(9).monthly_indicator %>
    </div>
    <div class="col-md-6">
        <%= current_user.goals.find(9).goal_actions.first.content %>
        <%= current_user.goals.find(9).goal_actions.first.number %>
    </div>
</div>
<div class="row">
    <%= link_to "目標を作成", new_goal_path, class: "btn btn-primary" %>
    <%= link_to "目標一覧", goal_user_path(current_user), class: "btn btn-primary" %>
</div>
<div class="row">
    <aside class="col-md-4">
        <%= link_to "日報", reports_path, class: "btn btn-primary" %>
        <%= link_to "つぶやき", root_path, class: "btn btn-primary" %>
    </aside>
    <div class="col-md-8">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="report_form">
            <%= render 'shared/report_form' %>
        </section>
        <p>report Feed</p>
        <%= render 'shared/feed' %>
    </div>
</div>