<% provide(:title, "日報") %>
<% provide(:button_text, "投稿") %>
<div class="reports row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div id="report-<%= @report.id %>" class="card mb-5">
      <div class="card-body">
        <div class="card-wrap">
          <div class="card-ubox">
            <div class="card-avatar">
              <%= link_to @user do %>
                <%= image_tag @user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
              <% end %> 
            </div>
            <span class="card-user"><%= link_to @user.name, @user %></span>
          </div>
          <button class="card-rdays btn btn-success"><%= @report.r_days %>日目</button>
        </div>
      
        <div class="card-inner">
          <div class="card-content">
            <div class="aim">
              <p class="aim-tit"><i class="fas fa-crosshairs"></i> 今月の目的</p>
              <p class="aim-txt"><%= @monthly_goal.monthly_aim %></p>
              <p class="aim-tit"><i class="fas fa-tachometer-alt"></i> 今月の目標指標</p>
              <p class="aim-txt"><%= @monthly_goal.monthly_indicator %></p>
            </div>
          
            <div class="action">
              <p class="action-tit"><i class="far fa-star"></i> 今日達成したアクション</p>
              <ul class="action-list">
                <% @actions.zip(@rep_acts).each_with_index do |(action, rep_act), i| %>
                <li class="action-item">
                  <div class="action-inner">
                    <div class="action-wrap">
                      <%= action.content %>
                    </div>
                    <div class="action-box">
                      <%= rep_act.number %> / <%= @action_numbers[i] %>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="realize">
              <p class="realize-tit"><i class="far fa-lightbulb"></i> 感想、気付き</p>
              <p><%= @report.content %></p>
            </div>
            <div class="images">
              <% if @report.images.attached? %>
                <div class="row">
                  <%  @report.images.each do |image| %>
                    <div class="col-6">
                      <%= image_tag image.variant(resize: "280x180!") %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="card-box">
          <div class="row">
            <div class="col d-flex">
              <span class="card-timestamp">
                <i class="far fa-clock"></i>
                <%= time_ago_in_words(@report.created_at) %>前
              </span>
              <% if current_user?(@user) %>
                <%= link_to "削除", @report, method: :delete,
                                          data: { confirm: "本当に削除しますか？" },
                                          class: "card-dlt dlt-card-#{@report.id} btn btn-outline-danger btn-sm" %>
                <%= link_to "編集", edit_report_path(@report), class: 'card-edit btn btn-outline-success btn-sm' %>
              <% end %>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="card-comment">
                <a href="#comment">
                  <i class="far fa-comment"></i>
                  <span><%= @report.report_comments.count %></span>
                </a>
              </div>
              <div class="card-like">
                <% if logged_in? %>
                  <% like = @report.report_likes.find_by(user_id: current_user.id) %>
                  <% if current_user.report_liked?(@report) %>
                    <%= link_to report_report_like_path(@report, like), method: :delete do %>
                      <span>
                        <i class="fas fa-heart"></i>
                        <%= @report.report_likes.count %>
                      </span>
                    <% end %>
                  <% else %>
                    <%= link_to report_report_likes_path(@report), method: :post do %>
                      <span>
                        <i class="far fa-heart"></i>
                        <%= @report.report_likes.count %>
                      </span>
                    <% end %>
                  <% end %>
                <% else %>
                  <span>
                    <i class="far fa-heart"></i>
                    <%= @report.report_likes.count %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="comment" class="comment">
      <% if @comments.present? %>
        <div class="card mb-5">
          <div class="card-header">
            <h4 class="comment-header"><i class="far fa-comment"></i> コメント</h4>
          </div>
          <div class="card-body">
              <ul class="comment-list">
                <% @comments.each do |comment| %>
                  <li class="comment-item">
                    <div class=" comment-avatar">
                      <%= link_to comment.user do %>
                        <%= image_tag comment.user.avatar.variant(gravity: :center, resize: "45x45^", crop: "45x45+0+0").processed, class: '_rounded' %>
                      <% end %> 
                      <span class="comment-user"><%= comment.user.name %></span>
                      <% if current_user != nil && comment.user_id == current_user.id %>
                          <%= link_to "削除", report_report_comment_path(@report, comment), method: :delete, class: "btn btn-outline-danger" %>
                      <% end %>
                    </div>
                    <p class="comment-content"><%= comment.content %></p>
                    <p class="comment-date"><%= time_ago_in_words(comment.created_at) %></p>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      <% end %>
      
      <div class="card comment-form">
        <div class="card-body">
          <%= render 'report_comments/comment_form' %>
        </div>
      </div>
    </div>
  </div>
</div>