<header class="header navbar navbar-fixed-top navbar-expand-lg navbar-dark">
  <div class="header-inner container">
    <%= link_to "Progress", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right align-items-center">
        <li class="nav-item <%= "active" if current_page?(goals_path) %>">
          <%= link_to  goals_path, class: "nav-link" do %>
            <i class="far fa-flag"></i>
            <span>みんなの目標</span>
          <% end %>
        </li>
        <li class="nav-item <%= "active" if current_page?(boards_path) %>">
          <%= link_to  boards_path, class: "nav-link" do %>
            <i class="far fa-comments"></i>
            <span>お悩み相談（掲示板）</span>
          <% end %>
          </li>
        <li class="nav-item <%= "active" if current_page?(articles_path) %>">
          <%= link_to  articles_path, class: "nav-link" do %>
            <i class="fas fa-book-open"></i>
            <span>英語学習法特集</span>
          <% end %>
        </li>
        <li class="nav-item <%= "active" if current_page?(rank_path) %>">
          <%= link_to rank_path, class: "nav-link" do %>
            <i class="fas fa-trophy"></i>
            <span>ランキング</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <%= image_tag current_user.avatar.variant(gravity: :center, resize: "30x30^", crop: "30x30+0+0").processed, class: '_rounded' %> 
              <%= current_user.name %>
              <b class="carret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to  current_user, class: "dropdown-item" do %>
                  <i class="fas fa-user"></i>
                  <span>マイページ</span>
                <% end %>
              </li>
              <li>
                <%= link_to  edit_user_path(current_user), class: "dropdown-item" do %>
                  <i class="fas fa-cog"></i>
                  <span>設定</span>
                <% end %>
              </li>
              <li>
                <%= link_to bookmarks_path, class: "dropdown-item" do %>
                  <i class="fas fa-bookmark"></i>
                  <span>ブックマーク一覧</span>
                <% end %>
                </li>
              <li class="dropdown-divider"></li>
              <li>
                <%= link_to  destroy_user_session_path, method: :delete, class: "dropdown-item logout" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  <span>ログアウト</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li> 
        <% end %>
      </ul>
    </nav>
  </div>
</header>