<header class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-danger">
  <div class="container">
    <%= link_to "Progress", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to "お悩み相談（掲示板）", '#', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "英語学習法特集",   '#', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ランキング", rank_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", '#', class: "nav-link" %></li> 
      </ul>
    </nav>
  </div>
</header>