<header id="vue-header" class="header navbar navbar-fixed-top navbar-expand navbar-dark">
  <div class="hamburger_btn" @click='activeBtn=!activeBtn'>
    <span class="line line_01" :class="btnLine1"></span>
    <span class="line line_02" :class="btnLine2"></span>
    <span class="line line_03" :class="btnLine3"></span>
  </div>
  <transition name="menu">
    <div class="menu" v-show="activeBtn">
        <ul>
            <li><a href="/reports">日報</a></li>
            <li><a href="/posts">つぶやき</a></li>
            <% if user_signed_in? %>
            <li><%= link_to "長期目標", edit_goal_path(current_user) %></li>
            <li><%= link_to "月間目標", new_monthly_goal_path %></li>
            <% end %>
        </ul>
    </div>
  </transition>
  <div class="header-inner container-fluid">
    <%= link_to "Progress", root_path, id: "logo" %>
    <nav class="justify-content-end">
      <ul class="nav navbar-nav navbar-right align-items-center">
        <li class="nav-item <%= "active" if current_page?(root_path) %>">
          <%= link_to  root_path, class: "nav-link" do %>
            <i class="far fa-flag"></i>
            <span class="d-none d-lg-inline-block">みんなの目標</span>
          <% end %>
        </li>
        <li class="nav-item <%= "active" if current_page?(boards_path) %>">
          <%= link_to  boards_path, class: "nav-link" do %>
            <i class="far fa-comments"></i>
            <span class="d-none d-lg-inline-block">お悩み相談（掲示板）</span>
          <% end %>
          </li>
        <li class="nav-item <%= "active" if current_page?(articles_path) %>">
          <%= link_to  articles_path, class: "nav-link" do %>
            <i class="fas fa-book-open"></i>
            <span class="d-none d-lg-inline-block">英語学習法特集</span>
          <% end %>
        </li>
        <li class="nav-item <%= "active" if current_page?(rank_path) %>">
          <%= link_to rank_path, class: "nav-link" do %>
            <i class="fas fa-medal"></i>
            <span class="d-none d-lg-inline-block">ランキング</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <%= image_tag current_user.avatar.variant(gravity: :center, resize: "30x30^", crop: "30x30+0+0").processed, class: '_rounded' %> 
              <%= current_user.name %>
              <b class="carret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to  current_user, class: "dropdown-item" do %>
                  <i class="fas fa-user"></i>
                  <span>マイページ</span>
                <% end %>
              </li>
              <li>
                <%= link_to  edit_user_path(current_user), class: "dropdown-item" do %>
                  <i class="fas fa-cog"></i>
                  <span>設定</span>
                <% end %>
              </li>
              <li>
                <%= link_to bookmarks_path, class: "dropdown-item" do %>
                  <i class="fas fa-bookmark"></i>
                  <span>ブックマーク一覧</span>
                <% end %>
                </li>
              <li class="dropdown-divider"></li>
              <li>
                <%= link_to  destroy_user_session_path, method: :delete, class: "dropdown-item logout" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  <span>ログアウト</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li> 
        <% end %>
      </ul>
    </nav>
  </div>
</header>