<div class="card  border-0 mb-0 h-613 bg-form">
  <div class="card-header bg-transparent pb-4">
    <div class="text-muted text-center mt-2 mb-3"><small>SNSアカウントでログイン</small></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="btn-wrapper text-center">
          <%= link_to omniauth_authorize_path(resource, :twitter), method: :post, class: "btn btn-neutral btn-icon" do %>
            <span class="btn-inner--icon"><img src="<%= asset_path('twitter.svg') %>" class="py-3px"></span>
            <span class="btn-inner--text">Twitter</span>
          <% end %>
          <%= link_to omniauth_authorize_path(resource, :google_oauth2), method: :post, class: "btn btn-neutral btn-icon" do %>
            <span class="btn-inner--icon"><img src="<%= asset_path('google.svg') %>"></span>
            <span class="btn-inner--text">Google</span>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="card-body px-lg-5 py-lg-3 border-bottom">
    <div class="text-center text-muted mb-4">
      <small>メールアドレスでログイン</small>
    </div>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-group mb-3">
        <%= f.label :email, class: "text-muted" %>
        <div class="input-group input-group-merge input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="material-icons">email</i></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "text-muted" %>
        <div class="input-group input-group-merge input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="material-icons">lock</i></span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      </div>
      <div class="custom-control custom-control-alternative custom-checkbox">
        <% if devise_mapping.rememberable? %>
          <%= f.label :remember_me, class: "custom-control-label" do %>
            <%= f.check_box :remember_me, class: "custom-control-input" %>
            <span class="text-muted">ログインしたままにする</span>
          <% end %>
        <% end %>
      </div>
      
      <div class="text-center">
        <%= f.submit "ログイン", class: "btn btn-primary my-4" %>
      </div>
    <% end %>
  </div>
  <div class="card-body px-lg-5 py-lg-4">
    <div class="text-center text-muted mb-4">
      <small>ゲストでログイン</small>
    </div>
    <div class="text-center">
      <%= link_to "ゲストログイン（閲覧用）", static_pages_guest_sign_in_path, method: :post, class: 'btn btn-danger nltop-btn _btn-red' %>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <%= link_to "パスワードをお忘れですか？", new_user_password_path, class: 'text-light' %>
  </div>
  <div class="col-6 text-right">
    <%= link_to "新規登録", new_user_registration_path, class: 'text-light' %>
  </div>
</div>
